@import "./assert.scss";

// Passing test suite
@debug TestSuite();

@function test_passing_test() {
  $setup: Test(test_passing_test);
  $test: Assert(1 == 1);
  @return TestEnd();
}

@function test_passing_test_2() {
  $setup: Test(test_passing_test_2);
  $test: Assert(1 == 1);
  @return TestEnd();
}

@debug test_passing_test();
@debug test_passing_test_2();
@debug TestSuiteEnd();

// Failing test suite
@debug TestSuite();

@function test_passing_test_3() {
  $setup: Test(test_passing_test_3);
  $test: Assert(1 == 1);
  @return TestEnd();
}

@function test_failing_test() {
  $setup: Test(test_failing_test);
  $test: Assert(1 == 2);
  @return TestEnd();
}

@debug test_passing_test_3();
@debug test_failing_test();
@debug "Testing tests. Ignore this failure";
@debug TestSuiteEnd();
